* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #728C8A;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  padding: 2.7rem 5rem;
  margin: 5em auto;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #857474;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-header-h2 {
  font-size: 1.6rem;
}

.container-header .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header span {
  font-weight: 500;
  margin-right: .9375rem;
  font-size: 1.19rem;
}

.container-header input {
  outline: none;
  border-radius: 1.875rem;
}

.container-header-volume-slider input {
  accent-color: #fff;
}

.container-header-keys-checkbox input {
  height: 1.875rem;
  width: 3.75rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background: #857474;
}

.container-header-keys-checkbox input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: .3125rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: #8c8c8c;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-header-keys-checkbox input:checked::before {
  left: 2.1875rem;
  background: #fff;
}

.container-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 40px;
}

.container-keys button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  text-transform: uppercase;
}

.container-keys button.black {
  z-index: 2;
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
  background: linear-gradient(#333, #000);
}

.container-keys button.black:active {
  -webkit-box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
          box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#434343));
  background: linear-gradient(to bottom, #000, #434343);
}

.container-keys button.black span {
  bottom: 13px;
  color: #888888;
}

.container-keys button.white {
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, #fff), color-stop(4%, #eee));
  background: linear-gradient(#fff 96%, #eee 4%);
}

.container-keys button.white:active {
  -webkit-box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.container-keys button span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #A2A2A2;
  font-size: 1.13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .key.hide span {
  display: none;
}
/*# sourceMappingURL=style.css.map */