* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  body {
    background-color: #728C8A;;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .container{
  padding: 2.7rem 5rem;
  margin:5em auto;
  position:relative;
  border:1px solid #160801;
  border-radius:1em;
  background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5) ;
    &-header{
      display: flex;
      color: #857474;
      align-items: center;
      justify-content: space-between;
      &-h2{
        font-size: 1.6rem;
      }
      .column{
        display: flex;
        align-items: center;
      }
      span{
        font-weight: 500;
        margin-right: .9375rem;
        font-size: 1.19rem;
      }
      input{
        outline: none;
        border-radius: 1.875rem;
      }
      &-volume-slider{
        input{
          accent-color: #fff;
        }
      }
      &-keys-checkbox{
        input{
          height: 1.875rem;
          width: 3.75rem;
          cursor: pointer;
          appearance: none;
          position: relative;
          background: #857474;
          &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: .3125rem;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            background: #8c8c8c;
            transform: translateY(-50%);
            transition: all 0.3s ease;
          }
          &:checked{
            &::before{
              left: 2.1875rem;
              background: #fff;
            }
          }
        }
      }
    }
    &-keys{
      display: flex;
      list-style: none;
      margin-top: 40px;
        button {
          cursor: pointer;
          user-select: none;
          position: relative;
          text-transform: uppercase;
            &.black {
              z-index: 2;
              width: 44px;
              height: 140px;
              margin: 0 -22px 0 -22px;
              border-radius: 0 0 5px 5px;
              background: linear-gradient(#333, #000);
                &:active {
                  box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
                  background:linear-gradient(to bottom, #000, #434343);
                  }
                  span{
                    bottom: 13px;
                    color: #888888;
                  }
              }
              &.white {
                height: 230px;
                width: 70px;
                border-radius: 8px;
                border: 1px solid #000;
                background: linear-gradient(#fff 96%, #eee 4%);
                &:active {
                  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
                  background:linear-gradient(to bottom, #fff 0%, #eee 100%);
              }
          }
          span{
            position: absolute;
            bottom: 20px;
            width: 100%;
            color: #A2A2A2;
            font-size: 1.13rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
       } 
     }
     .key{
      &.hide{
        span{
          display: none;
        }
      }
    }
 }
  